body {
    background-color: #e6f9af;
    color: #0d0630;
}

h1 {
    background-color: #18314f;
    color: #e6f9af;
    font-size: 4em;
    text-align: center;
    padding: 20px;
}

footer {
    background-color: #18314f;
    color: #e6f9af;
    text-align: center;
    padding: 20px;
    margin-top: 5em;
}

.btn {
    background-color: #18314f;
    color: #e6f9af;
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
}

/* -------- validaciones del formulario -------- */
.formulario_required,
.formulario_input-error {
    display: none;
    color: #dc3545;
    font-size: 0.9rem;
    margin-top: 5px;
    margin-bottom: 0;
}

.formulario_required-activo,
.formulario_input-error-activo {
    display: block;
}