<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Agregar Alumno</title>

  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous" />

  <!-- estilos propios -->
  <link rel="stylesheet" th:href="@{/estilos.css}">

</head>

<body>

  <h1 class="text-center">Agregar alumno</h1>

  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card my-5">
        <div class="card-body">
          <form th:action="@{/alumnos}" th:object="${alumno}" method="post">
            <div class="form-group">
              <label>Apellido y Nombres:</label>
              <input type="text" name="apellidoNombre" th:field="*{apellidoNombre}" class="form-control"
                placeholder="Ingresar apellido y nombres" required>
            </div>
            <br>
            <div class="form-group">
              <label>DNI:</label>
              <input type="number" name="dni" th:field="*{dni}" class="form-control" placeholder="Ingresar DNI"
                required>
            </div>
            <br>
            <div class="form-group">
              <label>Email:</label>
              <input type="email" name="email" th:field="*{email}" class="form-control" placeholder="Ingresar email"
                required>
            </div>
            <br>
            <div class="form-group">
              <label>Teléfono:</label>
              <input type="text" name="telefono" th:field="*{telefono}" class="form-control"
                placeholder="Ingresar número de teléfono" required>
            </div>
            <br>
            <div class="form-group row">
              <label>Carrera:</label>
              <div class="col-sm-8">
                <select th:field="*{carrera}" class="form-control" required>
                  <th:block th:each="carreraEach : ${listaCarreras}">
                    <option th:text="${carreraEach.nombre}" th:value="${carreraEach.id}"></option>
                  </th:block>
                </select>
              </div>
            </div>
            <br>
            <div class="box-footer d-flex justify-content-center">
              <button type="submit" class="btn btn-info">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

    <div class="d-flex justify-content-center">
    <a th:href="@{/alumnos}" class="btn btn-secondary" role="button">Volver al listado</a>
  </div>


  <footer>
    <span>Laboratorio de Programación 2026</span>
  </footer>

</body>

</html>